name: CI

on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main

jobs:
  hassfest:
    runs-on: ubuntu-latest
    name: Hassfest
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Hassfest
        uses: home-assistant/actions/hassfest@master

  hacs:
    runs-on: ubuntu-latest
    name: HACS
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: HACS validation
        uses: hacs/action@main
        with:
          category: integration

  tests:
    runs-on: ubuntu-latest
    name: Run Pytest
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Set up Python
        uses: actions/setup-python@v4
        with:
          python-version: "3.12"

      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install pytest pytest-homeassistant-custom-component httpx
          # Install integration requirements if any (none in manifest atm)

      - name: Run tests
        run: PYTHONPATH=. pytest
